.error {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 2em;
    &__message {
      font-size: 4em;
      text-align: center;
    }
    &__link {
      margin-top: 5em;
      text-decoration: underline;
      font-weight: 400;
    }
  }