header {
    display: flex;
    .logoSection {
        margin: 1em 1.5em;
        display: flex;
        align-items: center;
        .logo-sportsee {
            width: 33%;
            height: 68%;
        }
        .logoName {
            width: 6em;
            height: 1.35em;
            object-fit: contain;
            margin-left: 0.5em;
        }
    }
}
