
.activityContainer {
    margin: 1em 0;
    width: 78%;
    h1 {
        display: flex;
        width: 8.8em;
        .username {
            margin: 0;
            color: red;
            margin-left: 5%;
        }
    }
    h2 {
        font-size: 18px;
    }
    section {
        display: flex;
        flex-wrap: wrap;
        margin-top: 7em;
    }
    .caloriesTracking {
        margin-top: -11.56em;
        div {
           margin-bottom: 6.3em;
           display: flex;
           flex-wrap: wrap;
           img {
            margin-right: 1em;
            padding: 1.25em;
            object-fit: contain;
            }
           
            .calorieCount {
                border-radius: 6px;
                background-color: rgb(255 0 0 / 6.61%);
            }
            .proteinCount {
                background-color: rgb(74 184 255 / 10%);
            }
            .carbohydrateCount {
                background-color: rgb(249 206 35 / 10.17%);
            }
            .lipidCount {
                background-color: rgb(253 81 129 / 10%);
            }
            span {
                p {
                    margin: 0;
                    
                    &:nth-child(1) {
                        margin-bottom: 0.1em;
                        font-weight: 700;
                        font-size: 20px;
                    }
                    &:nth-child(2) {
                        color: #74798C;
                        font-size: 14px;
                    } 
                }
            }
            
        }
        
    }
    .dailyActivity {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        .legend {
            display: flex;

        }
        .recharts-wrapper {

            .recharts-surface {
                height: 206px;
                // width: auto;
                line {
                    display: none;
                }
            }
        }
    }
    .length {        
        width: 208px;
        height: 213px;
    }
    .intensity {
        width: 208px;
        height: 213px;
        background-color: #282D30;
        .recharts-wrapper {
            color: white;
            .recharts-surface {
                
                .recharts-polar-grid-angle {
                    width: 180px;
                    height: 180px;
                }
            }
        }
       
    }
    .score {
        width: 208px;
        height: 213px;
        display: flex;
        justify-content: center;
        align-items: center;
        h3 {
            align-self: start;
        }
    
    }
}

