.activityContainer {
  margin: 1em 0;
  width: 78%;
  h1 {
    display: flex;
    width: 8.8em;
    .username {
      margin: 0;
      color: red;
      margin-left: 5%;
    }
  }
  h2 {
    font-size: 18px;
  }
  section {
    display: flex;
    flex-wrap: wrap;
    margin-top: 7em;
  }
  .intensity,
  .length,
  .score {
    margin: 0 0.85em;
    width: 178px;
    height: 178px;
  }
  .caloriesTracking {
    margin-top: -15.56em;
    display: flex;
    flex-direction: column;
    width: 152px;
    .macroContainer {
      margin-bottom: 3.5em;
      display: flex;
      
      img {
        margin-right: 1em;
        padding: 1em;
        object-fit: contain;
        width: 15px;
        height: 15px;
      }
      
    p {
      margin: 0;
    }
    .key {
      margin-bottom: 0.1em;
      font-weight: 700;
      font-size: 20px;
      width: 5em;
    }
    .value {
      color: #74798c;
      font-size: 14px;
      font-weight: 500;
    }
      .calorieCount {
        border-radius: 6px;
        background-color: rgb(255 0 0 / 6.61%);
      }
      .proteinCount {
        background-color: rgb(74 184 255 / 10%);
      }
      .carbohydrateCount {
        background-color: rgb(249 206 35 / 10.17%);
      }
      .lipidCount {
        background-color: rgb(253 81 129 / 10%);
      }
      
    }
  }
  .dailyActivity {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-bottom: 2em;
    .dailyHeader {
      display: flex;
      justify-content: space-between;
      width: 73%;
      h3 {
        font-size: 15px;
        font-weight: 500;
        color: #20253a;
        width: 40%;
      }
      ul {
        display: flex;
        padding: 0;
        justify-content: space-between;
        width: 41%;

        li {
          color: #74798c;
          list-style-type: none;
          font-size: 14px;
          &::before {
            content: "•";
            font-size: 23px;
            margin-right: 0.3em;
            vertical-align: middle;
          }
        }
        li:last-child {
          &::before {
            color: red;
          }
        }
      }
    }
    .tooltip {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: center;
      margin: 0 auto;
      width: 40px;
      height: 60px;
      color: white;
      background-color: #e60000;
      .tooltip-item {
        font-size: 7px;
      }
    }
    .recharts-wrapper {
      .recharts-surface {
        height: 206px;
      }
    }
  }
  .length {
    
    .shadow {
      background: rgba(0, 0, 0, 0.1);
      width: 79px;
      display: flex;
      flex-direction: column;
      height: 178px;
      justify-content: center;
      .tooltip {
        margin-left: 0.3em;
        justify-content: center;
        background-color: white;
        width: 39px;
        height: 25px;
        &-item {
          font-size: 8px;
          align-self: center;
          text-align: center;
          font-weight: 500;
        }
      } 
    }

    h3 {
      color: white;
      font-size: 12px;
      font-weight: 500;
      width: 8%;
      position: absolute;
      left: 35.5%;
      z-index: 2;
    }
    
    .dayAxis {
      display: flex;
      font-size: 12px;
      position: absolute;
      bottom: -4.5%;
      left: 21.4em;
      width: 16%;
      p {
        display: flex;
        width: inherit;
        color: white;
        margin: auto;
      }
    }
  }
  .intensity {
    background-color: #282d30;
    border-radius: 5px;
    .recharts-responsive-container {
      margin: auto;
      .recharts-wrapper {
        color: white;
      }
    }
  }
  .score {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    &__container {
      background-color: white;
      position: absolute;
      top: 80%;
      right: 32.6%;
      width: 140px;
      height: 140px;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
      .percent {
        justify-content: center;
        display: flex;
        font-size: 26px;
        font-weight: 700;
        margin-bottom: 0.3em;
      }
      .desc {
        color: #74798c;
        font-size: 16px;
        font-weight: 500;
      }
    }
    h3 {
      align-self: start;
      margin: unset;
      font-size: 15px;
    }
  }
}
